<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NCC Front End Test</title>
    <link rel="stylesheet" href="../assets/css/main.css">
</head>

<body>
    <div class="main">
        <div class="sidebar">
            <div class="sidebar__item sidebar__item--home">
                Home
            </div>
            <div class="sidebar__item">
                Services
            </div>
            <div class="sidebar__item">
                News
            </div>
            <div class="sidebar__item">
                Blog
            </div>
            <div class="sidebar__item">
                Contact
            </div>
        </div>

        <div class="content">
            <div class="content__logo">
                <img src="../assets/img/logo.svg" alt="Logo">
            </div>
            <div class="content__about">
                <div class="about-head">
                    Lorem ipsum dolor sit asmet?
                </div>
                <div class="about-body">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tristique consequat placerat.
                        Vestibulum auctor pellentesque sem, eu posuere erat hendrerit quis. Maecenas vel consequat
                        turpis. Nam facilisis, ligula in mattis sodales, augue justo tristique nulla, sed lacinia ante
                        eros ut mi. Morbi vitae diam augue. Aliquam vel mauris a nibh auctor commodo. Praesent et nisi
                        eu justo eleifend convallis. Quisque suscipit maximus vestibulum. Phasellus congue mollis orci,
                        sit amet luctus augue tristique eu. Donec vulputate odio neque, sed semper turpis pellentesque
                        a.
                    </p>
                </div>
            </div>
            <div class="content__detail">
                <div class="detail-item">
                    <div class="detail-item-head">
                        Lorem ipsum dolor sit amet
                    </div>
                    <div class="detail-item-body">
                        <p>
                            <img src="../assets/img/css.svg" alt="css">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non dui sodales, faucibus libero
                            ut, posuere felis. Donec imperdiet suscipit accumsan. Aenean consequat condimentum velit ut
                            tempor. Nam porta massa in metus bibendum congue. Pellentesque ultrices liquam
                            ullamcorper ultricies. Donec feugiat velit nulla, vel sodales est ullamcorper id. Aenean
                            consequat condimentum velit ut tempor. Nam porta massa in metus bibendum congue. Pellentesque
                            ultrices vestibulum mattis.
                        </p>
                    </div>
                </div>
                <div class="detail-item">
                    <div class="detail-item-head">
                        Lorem ipsum dolor sit amet
                    </div>
                    <div class="detail-item-body">
                        <p>
                            <img src="../assets/img/html.svg" alt="html">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non dui sodales, faucibus libero
                            ut, posuere felis. Donec imperdiet suscipit accumsan. Aenean consequat condimentum velit ut
                            tempor. Nam porta massa in metus bibendum congue. Pellentesque ultrices liquam
                            ullamcorper ultricies. Donec feugiat velit nulla, vel sodales est ullamcorper id. Aenean
                            consequat condimentum velit ut tempor. Nam porta massa in metus bibendum congue. Pellentesque
                            ultrices vestibulum mattis.
                        </p>
                    </div>
                </div>
                <div class="detail-item">
                    <div class="detail-item-head">
                        Lorem ipsum dolor sit amet
                    </div>
                    <div class="detail-item-body">
                        <p>
                            <img src="../assets/img/url.svg" alt="url">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non dui sodales, faucibus libero
                            ut, posuere felis. Donec imperdiet suscipit accumsan. Aenean consequat condimentum velit ut
                            tempor. Nam porta massa in metus bibendum congue. Pellentesque ultrices liquam
                            ullamcorper ultricies. Donec feugiat velit nulla, vel sodales est ullamcorper id. Aenean
                            consequat condimentum velit ut tempor. Nam porta massa in metus bibendum congue. Pellentesque
                            ultrices vestibulum mattis.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer">
            Copyright © 2021
        </div>
    </div>
</body>

</html>